{% extends 'base.html.twig' %}

{% block title %}View image{% endblock %}

{% block content %}
    {% if error is defined %}
    {% else %}
        <div class="justify-center" style="display: flex;">
            <img src="{{ image }}" alt="image" style="max-height: 100%; max-width: 100%;">
        </div>
    {% endif %}
{% endblock %}