{% extends 'base.html.twig' %}

{% block title %}View image{% endblock %}

{% block content %}
    {% if error is defined %}
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 text-center justify-content-center offset-1" style="display: flex;">
                    <img src="{{ image }}" alt="image" style="max-height: 100%; max-width: 100%;">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}