{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.index'|trans }}
{% endblock %}

{% block content %}
    <div class="text-white text-center font-medium font-mono text-3xl">
        <h1>Welcome to inao.xn--6frz82g</h1>
    </div>
    <br>
    <div class="text-red-400 text-center font-medium font-mono text-2xl">
        <h5>Now powered by Symfony framework.</h5>
    </div>
    <br>
    <div class="text-red-500 text-center font-medium font-mono text-3xl">
        <h3 class="text-danger">STILL IN DEVELOPMENT</h3>
    </div>
{% endblock %}