{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.index'|trans }}
{% endblock %}

{% block content %}
    <br>
    <div class="row" style="text-align: center">
        <h4>Welcome to inao.xn--6frz82g</h4>
        <br><br><br>
        <h5>Powered by Symfony 5.3 with Tronic247 Material</h5>
        <br><br>
        <h4><strong>STILL IN DEVELOPMENT</strong></h4>
    </div>
{% endblock %}