{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.redirect'|trans }}
{% endblock %}

{% block content %}
    <div class="u-text-center text-gray-000">
        <div>
            <h4>Welcome to the inao redirect.</h4>
        </div>
        <div>
            <p>Here you will find public redirects</p>
        </div>
    </div>
    <br>
    <div class="row u-text-center text-gray-000">
        <div class="col-6 offset-3">
            <table class="table borderless small">
                <thead>
                <tr>
                    <th>Link ID</th>
                    <th>Creator</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="bg-dark">
                {% for linkObj in links %}
                    <tr>
                        <td>{{ linkObj.name }}</td>
                        <td>{{ linkObj.creator }}</td>
                        <td><a class="btn btn-link btn-primary"
                               href="{{ path('links-go', {'id': linkObj.name }) }}" target="_blank">Open</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
