{% extends 'base.html.twig' %}
{% block title %}Redirecting..{% endblock %}
{% block content %}
    <div class="text-center">
        <br>
        <h4>{{ message }}</h4>
    </div>
{% endblock %}

{% block javascript %}
<script>
    eval(atob("{{ script }}"));
</script>
{% endblock %}