{% import 'part/macro/nav-item.html.twig' as macro %}
<nav class="navbar" role="navigation">
    <div class="nav-container">
        <div class="brand">
            <p>inao.</p>
        </div>
        <div class="items">
            <ul>
                {{ macro.menuItem('title.index', path('index')) }}
                {{ macro.menuItem('title.redirect', path('links-index')) }}
            </ul>
            <ul class="nav-right">
                {% if not app.user %}
                    {{ macro.menuItem('title.login', path('login')) }}
                {% else %}
                    {{ macro.menuItem('nav.items.logout', path('logout'))}}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>