{% import 'part/macro/nav-item.html.twig' as macro %}
<header class="appbar" style="background-color: #616161">
    <div class="appbar-content">
        <div class="appbar-brand">
            inao.
        </div>
        <ul class="appbar-items appbar-item--start">
            {{ macro.menuItem('title.index', path('index')) }}
            {{ macro.menuItem('title.redirect', path('links-index')) }}
        </ul>
        <ul class="appbar-items appbar-item--end">
            {% if not app.user %}
                {{ macro.menuItem('title.login', path('login')) }}
                {{ macro.menuItem('title.qr', path('controller-qr-login')) }}
            {% else %}
                <button data-trigger="drawer" data-drawer="#drawer">User navigation</button>
            {% endif %}
        </ul>
    </div>
</header>