<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if app.request.get("_route") == "index-image-render" %}
        <meta property="twitter:card" content="summary_large_image">
        <meta property="og:type" content="image">
        <meta property="og:image" content="{{ image }}">
        <meta property="og:title" content="inao.移动">
        <meta property="theme-color" content="#81F841">
    {% endif %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/cirrus-ui">
    {% block imports %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    <title>inao | {% block title %}{% endblock %}</title>
</head>
<body class="bg-blue-900 test-light h-screen">
{{ include('part/nav.html.twig') }}
{% block message %}{% endblock %}
<div class="container mx-auto pt-10">
    {% block content %}{% endblock %}
</div>
{% block javascript %}{% endblock %}
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cirrus-ui"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>
</html>
