<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if app.request.get("_route") == "index-image-render" %}
        <meta property="twitter:card" content="summary_large_image">
        <meta property="og:type" content="image">
        <meta property="og:image" content="{{ data }}">
        <meta property="og:title" content="inao.移动">
        <meta property="theme-color" content="#81F841">
    {% endif %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <link href="https://cdn.jsdelivr.net/gh/tronic247/material/dist/material.min.css" rel="stylesheet" />
    {% block imports %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    <title>inao | {% block title %}{% endblock %}</title>
</head>
<body class="text-white container-fluid p-0 m-0" style="background-color: #424242;">
{{ include('part/nav.html.twig') }}
{% if app.user %}
    {{ include('part/drawer.html.twig') }}
{% endif %}
<div class="container color-dark-1">
    {% block content %}{% endblock %}
</div>
{% block javascript %}{% endblock %}
<script
        src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/tronic247/material/dist/material.min.js"></script>
</body>
</html>
