<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    div{
        font-family: 'Roboto', sans-serif;
    }
</style>
<div>
    <h4>Hi. You are now registered to inao.xn--6frz82g</h4>
    <br>
    <p style="color: #B0413E;">If this registration wasn't requested by you, please ignore this email.</p>
    <br>
    <p>To complete your registration, please click on link that is written on the end of this email. You will set your password there.
        Remember: Your link is going to be <span style="text-decoration: underline">disabled</span> after 12 hours from this email was sent.</p>
    <p>{{ link }}</p>
</div>
